.zhm-body {
  background-color: #FAFAFA;
}

.zhm-navbar {
  background-color: #000000;
}

.zhm-container {
  background-color: #FFFFFF;
}

.zhm-container-single {
  margin-top: 150px;
}

.zhm-margin {
  margin-bottom: 10px;
}

.navbar-custom {
    background-color: #424242;
    border-color: #AA0000;
    border-radius: 0;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #FFF;
}

.navbar-custom .navbar-nav > li > a {
    color: #FFF;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    background-color: #616161;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color:#616161;
}

.navbar-custom .navbar-text {
    color: #FFF;
}

.navbar-custom .navbar-toggle {
    border-color: #616161;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #616161;
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: #FFF;
}
